
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 153 47% 6%;
    --foreground: 0 0% 100%;

    --card: 153 47% 12%;
    --card-foreground: 0 0% 100%;

    --popover: 153 47% 12%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 153 47% 6%;

    --secondary: 153 47% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 0 0% 100%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hero-heading {
  @apply text-3xl md:text-5xl font-bold tracking-tight;
}

.page-heading {
  @apply text-3xl font-bold mb-8 tracking-tight;
}

.section-heading {
  @apply text-2xl font-semibold mb-4 tracking-tight;
}

.logo-text {
  @apply font-bold text-xl tracking-tight;
}

.link-hover {
  @apply relative after:absolute after:bg-primary after:bottom-0 after:left-0 after:h-[2px] 
    after:w-full after:origin-bottom-right after:scale-x-0 hover:after:origin-bottom-left 
    hover:after:scale-x-100 after:transition-transform after:duration-300;
}
